helloword.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="42a8799a-c4b1-4a69-a29a-182d22133b7e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hellowordFlow" doc:id="75b5f494-128c-4386-a54e-1ea024843429" >
		<http:listener doc:name="Listener" doc:id="c605b798-ab70-4035-ad5a-987ab2015ef7" config-ref="HTTP_Listener_config" path="/helloworld"/>
		<set-payload value='#["Hello World! This is a mule repo!!"]' doc:name="Set Payload" doc:id="534793ba-8786-4c22-885d-947a55c8926a" />
		<logger level="INFO" doc:name="Logger" doc:id="819281e7-ae4d-478c-84f7-11e0406b6655" message='#["Hello GITHUB!"]'/>
	</flow>
</mule>
